/*Overall style changes*/
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0px;
}

/*Main body*/
body {
    background-color: slategrey;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#year-container{
    width: 100%;
    min-width: 50%;
    max-width: 60%;
}

#selector-container{
    width: 100%;
    min-width: 70%;
    max-width: 80%;
}

#q1-container{
    width: 100%;
    min-width: 20%;
    max-width: 30%;
}

#q2-container{
    width: 100%;
    min-width: 7.5%;
    max-width: 10%;
}

#q3-container{
    width: 100%;
    min-width: 80%;
    max-width: 85%;
}

#q4-container{
    width: 100%;
    min-width: 7.5%;
    max-width: 10%;
}

h5 {
    line-height: 1.6;
    margin-left: 20%;
    margin-right: 20%;
}

li {
    list-style-type: none;
}


/*Credits*/
footer {
    line-height: 1.2;
    background-color: rgb(201, 201, 178);
    width: 100%;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}